.title {
    padding: 10px;
    background-color: teal;
}

/* Navbar side bars */
li {
    border-right: 1px solid hsl(0, 0%, 0%);
    color: grey;
}

li:last-child {
    border: none;
}

.navbar-brand {
    color: white;
}

.nav-item {
    color: teal;
}

.container {
    float: left;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    /*max-width for larger screen, change to 100% for smaller */
    max-width: 66.67%;
    background-color: teal;
    
}
/* 
#content {
    float: right;
    background-color: aqua;
} */

.col-md-4 {
    background-color: blueviolet;
}

#grad {
    float: left;
    max-height: 250px;
    padding: 10px;
}

p {
    padding: 10px;
}

img {
    max-width: 40%;
    padding: 10px;
    /* fix image inside of box */
}


@media only screen and (max-width: 640px) {
    nav {
        clear: both;
        justify-content: center;
    }
}
